.encabezado{
    background-color: black;
    color: white;
    height: 170px;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
}

.duracion{
    background-color: #000000a6;
    padding: 5px;
    border-radius: 10px;
}

.titulo-descripcion{
    font-weight: bold;
    font-size: 19px;
}

.canal, .visualizaciones{
    color: grey;
    font-size: 14px;
}


#formulario{
    display:none;
}