body {
   padding-top: 5rem;
   background-color:black;
 } 

.encabezado{
    height: 220px;
    background-color: black;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    font-weight: bold;
 }

 .titulo-descripcion{
    font-weight: bold;
    font-size: 19px;
    color:#b3b3b3;
 }

 .canal, .visualizaciones{
    color: rgb(204, 204, 204);
    font-size: 12px;
 }

 .duracion{
    background-color: #cf0202b8;
    padding: 5px;
    border-radius: 5px;
 }
 

 .bg-dark {
   background-color: #020202!important;
}

.navbar{
   padding: 0 2rem;
}

.descripcion{
   background-color:black;
   color:white;
   margin-bottom: 3rem;
   padding:1rem;
}

.descripcion:hover{
   background-color:#4f1f1f;
   color:white;
}

.fa-star, a{
   color: #cf0202 !important;
}

.modal-content{
   background-color: #000000b5;
   color:white;
}